<div class="ui inverted vertical footer segment" style="margin-top:5%;padding-top: 2%;padding-bottom: 2%;">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About Us</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Easy URL</a>
            <a href="#" class="item">Analysis</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>&copy;<%= new Date().getFullYear(); %></p>
        </div>
      </div>
    </div>
  </div>