<%- include('./partials/header.ejs') %>
<body>
    
    <section class="banner">
        <div class="backcover" style="display:flex;margin: 0 auto;justify-content: center;align-items: center;">
            
        </div>
        <div id="urlsearch" class="ui raised segment">
            <div class="box ui">
                <div class="ui action massive labeled input">
                    <div class="ui label">
                        http://
                      </div>
                    <input class="urltextbox" type="text" placeholder="Paste URL...">
                    <button id="urlbutton" class="ui button" onclick="adddata()" >
                        Get URL</button>
                </div>
            </div>
        </div>      
    </section>

    <section style="z-index:3;">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <div class="ui segment" style="padding: 2em;box-shadow: -10px 10px 30px 30px #eee;border: none;">
                        <h3 class="ui header">Easy short URLs</h3>
                        <p>Get your long URLs converted to easy to remember short URLs</p>
                    </div>
                </div>
                <div class="six wide right floated column">
                    <img src="/img/link_shortener.svg">
                </div>
            </div>
            <div class="row">
                
                
                <div class="six wide right floated column">
                    <img src="/img/analytics.svg">
                </div>
                <div class="eight wide column">
                    <div class="ui segment" style="padding: 2em;box-shadow: -10px 10px 20px 20px #eee;border: none;">
                        <h3 class="ui header">Analysis of the traffic</h3>
                        <p>Realtime statistics showing the access to your website using easy URLs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="ui modal loginform" style="width: 50%;">
        <i class="close icon"></i>
        <div class="header" style="text-align: center;">
          Login
        </div>
        <div class="image content">
          <div class="ui">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_jcikwtux.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" hover loop  autoplay></lottie-player>
          </div>
          <div class="description">
            <div class="ui labeled input" style="width: 70%;padding: 20px 0;">
                <div class="ui label">
                 <i class="icon user"></i>
                </div>
                <input type="text" placeholder="Username">
            </div>
            <div class="ui labeled input" style="width: 70%;padding: 20px 0;">
                <div class="ui label">
                    <i class="icon lock"></i>
                </div>
                <input type="password" placeholder="Password">
            </div>
            <a class="ui button" href="/auth/google" style="display:flex;margin-top:20px;width: 70%;padding-top:10px;padding-bottom: 10px;background-color: #fff;box-shadow: 5px 5px 90px 30px #ddd;">
                <i><img width="20px" style="margin-right: 20px;" alt="Google sign-in" 
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </i>
                <p>Login with Google</p>
            </a>
        
            <a class="ui facebook button" href="/auth/facebook" style="display:flex;margin-top:20px;width: 70%;padding-top:10px;padding-bottom: 10px;box-shadow: 5px 5px 90px 30px #ddd;">
                <i class="facebook f icon"></i>
                <p style="color: white;">Login with Facebook</p>
            </a>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button">
            Login
            <i class="checkmark icon"></i>
          </div>
          <div onclick="opensignup()" class="ui primary left floated icon button">
            Sign Up
            <i class="arrow right icon"></i>
          </div>
        </div>
    </div>
    <div class="ui modal signupform" style="width: 50%;">
        <i class="close icon"></i>
        <div class="header" style="text-align: center;">
          Sign Up
        </div>
        <div class="image content">
          <div class="ui">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ymbzgxgc.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" hover controls loop  autoplay></lottie-player>
          </div>
          <div class="description" style="width: 60%;">
            <form action="auth/newuser" method="POST" style="width: 90%;padding: 20px 0;">
                <div class="ui labeled input" style="width: 90%;padding: 20px 0;">
                    <div class="ui label">
                     <i class="icon user"></i>
                    </div>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="ui labeled input" style="width: 90%;padding: 20px 0;">
                    <div class="ui label">
                     <i class="icon lock"></i>
                    </div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="ui labeled input" style="width: 90%;padding: 20px 0;">
                    <div class="ui label">
                     <i class="icon lock"></i>
                    </div>
                    <input type="password" name="confirm-password" placeholder="Confirm password">
                </div>
                <div class="ui labeled input" style="width: 90%;padding: 20px 0;">
                    <div class="ui label">
                     <i class="icon phone"></i>
                    </div>
                    <input type="text" placeholder="Username">
                </div>
                <button class="ui huge black button" type="submit">Sign Up</button>
            </form>   
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Cancel
          </div>
          <div class="ui positive right labeled icon button">
            Let's Go
            <i class="checkmark icon"></i>
          </div>
          <div onclick="openlogin()" class="ui primary left floated icon button">
            Login
            <i class="arrow right icon"></i>
          </div>
        </div>
    </div>
      
    <%- include("./partials/footer.ejs") %>



    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll",function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky",window.scrollY > 100);
        });
        function adddata(){
            console.log("shubham");
            //document.querySelector("#urlsearch").appendChild(new Node("<p>jjj</p>"));
            var node = document.createElement("LI");                 // Create a <li> node
            var textnode = document.createTextNode("Water");         // Create a text node
            node.appendChild(textnode);                              // Append the text to <li>
            document.querySelector(".data").appendChild(node); 
        }
        function openlogin(){
            $('.ui.modal.loginform').modal('show');
        }
        function opensignup(){
            $('.ui.modal.signupform').modal('show');
        }

    </script>
</body>
</html>